<DIV id="content">
    <DIV id="page">
        <DIV id="login-form" class="side-column">
            <H3>Авторизация</H3>
            <FORM action="index.html">
                <LABEL for="text-1">Псевдоним:</LABEL>
                <INPUT type="text" id="text-1" autofocus>
                <LABEL for="pass-1">Пароль:</LABEL>
                <INPUT type="password" id="pass-1">
                <BUTTON type="submit">Войти в систему</BUTTON>
            </FORM>
        </DIV>
    </DIV>
    <DIV id="copyright">&copy; Лаборатория компьютерных технологий ВГУ имени П.&nbsp;М.&nbsp;Машерова</DIV>
</DIV>