<div ng-controller="ProjectsEditController as controller" id="content">
    <slinks></slinks>
    <div id="page">
        <div class="single-column">
            <h3>{{controller.action}} проект:</h3>
            <label> Название:
                <input ng-disabled="!controller.isAllowEdit" type="text" ng-model="controller.project.name">
            </label>
            <label> Описание:
                <textarea ng-disabled="!controller.isAllowEdit" ng-model="controller.project.description"></textarea>
            </label>
            <label> Текущая команда:
                <input type="text" ng-model="controller.project.team.name" disabled>
            </label>
            <label ng-if="controller.isAllowEdit"> Изменить команду:
                <select ng-model="controller.project.team" ng-options="team as team.name for team in controller.teams"></select>
            </label>
            <br/>
            <h3>Контактные данные:</h3>
            <label> Менеджер:
                <input type="text" ng-model="controller.project.manager.name" disabled>
            </label>
            <label> Электронная почта:
                <input type="text" ng-model="controller.project.manager.email" disabled>
            </label>
            <br/>
            <button ng-if="controller.isAllowEdit" ng-click="controller.saveProject()">Сохранить</button>
            <button ng-if="controller.isAllowEdit" ng-click="controller.deleteProject()">Удалить</button>
        </div>
    </div>
    <sfooter></sfooter>
</div>