<div ng-controller="ProjectsEditController as controller" id="content">
    <slinks></slinks>
    <div id="page">
        <div class="single-column">
            <h3>{{controller.action}} проект:</h3>
            <label> Название:
                <input type="text" ng-model="controller.project.name">
            </label>
            <label> Описание:
                <input type="text" ng-model="controller.project.description">
            </label>
            <label> Команда:
                <select ng-model="controller.project.team"
                        ng-options="team as team.name for team in controller.teams"></select>
            </label>
            <br/>
            <h3>Контактные данные:</h3>
            <label> Менеджер:
                <input type="text" ng-model="controller.contactName" disabled>
            </label>
            <label> Электронная почта:
                <input type="text" ng-model="controller.email" disabled>
            </label>
            <br/>
            <button type="submit" ng-click="controller.saveProject()">{{controller.action}}</button>
            <button ng-if="!controller.projectCreation" ng-click="controller.deleteProject()">Удалить</button>
        </div>
    </div>
    <sfooter></sfooter>
</div>