<div id="content" ng-controller="RequirementController as controller">
    <slinks></slinks>
    <div id="page">
        <div class="main-column">
            <h3>Требования:</h3>
            <table>
                <thead>
                    <tr>
                        <th class="insignificant">№</th>
                        <th>Название</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody ng-repeat="requirement in controller.requirementsForProject">
                    <tr ng-click="controller.editRequirement(requirement.id)">
                        <td class="insignificant">{{$index}}</td>
                        <td>{{requirement.name}}</td>
                        <td>{{requirement.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="side-column">
            <h3>Проекты:</h3>
            <ul class="links-block">
                <li ng-repeat="project in controller.projects">
                    <a ng-click="controller.updateRequirements(project.id)">{{project.name}}</a>
                </li>
            </ul>
            <br/>
            <div ng-if="controller.isEditMode" class="main-column-buttons">
                <h3>Действия:</h3>
                <br/>
                <a href="#requirements/requirements_edit/?projectId={{controller.currentProjectId}}" ng-if="controller.projects[0] !== undefined">
                    <button>Создать требование</button>
                </a>
                <label ng-if="controller.projects[0] === undefined" >У вас пока что нет проектов
                    <!--<a href="#projects/project_edit">Перейти к созданию</a>-->
                </label>
            </div>
        </div>
    </div>
    <sfooter></sfooter>
</div>