<div id="content" ng-controller="RequirementController as controller">
    <slinks></slinks>
    <div id="page">
        <div class="main-column">
            <h3>Требования:</h3>
            <table>
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody ng-repeat="requirement in controller.requirementsForProject">
                    <tr ng-click="controller.editRequirement(requirement.id)">
                        <td>{{requirement.name}}</td>
                        <td>{{requirement.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="side-column">
            <h3>Проекты:</h3>
            <ul>
                <li ng-repeat="project in controller.projects">
                    <a ng-click="controller.updateRequirements(project.id)">{{project.name}}</a>
                </li>
            </ul>
            <br/>
            <h3>Действия:</h3>
            <br/>
            <div class="main-column-buttons">
                <form action="user-requirement-edit.html">
                    <button type="submit">Создать требование</button>
                </form>
            </div>
        </div>
    </div>
    <sfooter></sfooter>
</div>