<div id="content" ng-controller="RequirementsEditController as controller">
    <slinks></slinks>
    <div id="page">
        <div class="single-column">
            <h3>{{controller.action}} требование</h3>
            <form>
                <label for="name">Название:</label>
                <input ng-disabled="!controller.isEditMode" type="text" id="name" ng-model="controller.requirement.name">

                <label for="description">Описание:</label>
                <textarea ng-disabled="!controller.isEditMode" id="description" ng-model="controller.requirement.description"></textarea>

                <label for="difficulty">Важность: {{controller.requirement.importance}}/100</label>
                <input ng-disabled="!controller.isEditMode" type="range" id="difficulty" min="0" max="100"
                       value="{{controller.requirement.importance}}" ng-model="controller.requirement.importance">

                <button ng-if="controller.isEditMode" ng-click="controller.submitRequirement()">{{controller.action}}</button>
                <button ng-if="!controller.requirementCreation && controller.isEditMode" ng-click="controller.deleteRequirement()">Удалить</button>
            </form>
        </div>
    </div>
    <sfooter></sfooter>
</div>