<DIV id="content" ng-controller="RequirementsEditController as controller">
    <slinks></slinks>
    <H2>{{controller.action}} требование</H2>
    <DIV id="page">
        <DIV class="single-column">
            <FORM>
                <label for="name">Название:</label>
                <input type="text" id="name" ng-model="controller.requirement.name">

                <label for="description">Описание:</label>
                <textarea id="description" ng-model="controller.requirement.description"></textarea>

                <label for="difficulty">Важность: {{controller.requirement.importance}}/100</label>
                <input type="range" id="difficulty" min="0" max="100"
                       value="{{controller.requirement.importance}}" ng-model="controller.requirement.importance">

                <button ng-click="controller.submitRequirement()">{{controller.action}}</button>
                <button ng-if="!controller.requirementCreation" ng-click="controller.deleteRequirement()">Удалить</button>
            </FORM>
        </DIV>
    </DIV>
    <sfooter></sfooter>
</DIV>