<div ng-controller="ProjectsController as controller" id="content">
    <slinks></slinks>
    <div id="page">
        <div ng-class="controller.leftStyle" >
            <h3>{{controller.projects.length > 0 ?
                'Список текущих проектов' :
                'Проектов нет.'}}</h3>
            <table ng-if="controller.projects.length > 0" class="projects-table">
                <thead align="left">
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                </tr>
                </thead>
                <tbody ng-repeat="project in controller.projects | orderBy: 'name'">
                <tr ng-click="controller.editProject(project.id)">
                    <td>{{project.name}}</td>
                    <td>{{project.description}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="controller.isEditMode" class="side-column">
            <h3>Действия:</h3>
            <br/>
            <a href="#projects/project_edit">Добавить проект</a>
        </div>
    </div>
    <sfooter></sfooter>
</div>
