<div ng-controller="UsersController as controller" id="content">
    <slinks></slinks>
    <div id="page">
        <div class="main-column">
            <h3>Список пользователей:</h3>
            <table>
                <thead>
                    <tr>
                        <th>Логин</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Отчество</th>
                        <th>Роль</th>
                        <th>Менеджер</th>
                    </tr>
                </thead>
                <tbody ng-repeat="user in controller.users">
                    <tr ng-click="controller.editUser(user.id)">
                        <td>{{user.login}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.middleName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{controller.employeeLabel(user.employee.role)}}</td>
                        <td>{{controller.managerLabel(user.manager)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="side-column">
            <h3>Действия:</h3>
            <br/>
            <a href="#users/users_edit">Создать пользователя</a>
        </div>
    </div>
    <sfooter></sfooter>
</div>