<div ng-controller="LoginController as controller" id="content">
    <div id="page">
        <div id="login-form" class="side-column">
            <h3>Авторизация</h3>
            <label class="error" ng-if="controller.isError">Неверный логин / пароль</label>
            <label>Псевдоним:
                <input ng-model="login" type="text" autofocus>
            </label>
            <label>Пароль:
                <input ng-model="pass" type="password" id="pass">
            </label>
            <br/>
            <button ng-click="controller.auth(login, pass)">Войти в систему</button>
        </div>
    </div>
    <sfooter></sfooter>
</div>