<div ng-controller="ProfileController as controller" id="content">
    <slinks></slinks>
    <div id="page">
        <div class="single-column">
            <h3>Данные пользователя:</h3>
            <label>Логин:
                <input type="text" ng-model="controller.user.login" disabled>
            </label>
            <label>Имя:
                <input type="text" ng-model="controller.user.firstName" disabled>
            </label>
            <label>Фамилия:
                <input type="text" ng-model="controller.user.middleName" disabled>
            </label>
            <label>Отчество:
                <input type="text" ng-model="controller.user.fatherName" disabled>
            </label>
            <label>Роль:
                <input type="text" ng-model="controller.role" disabled>
            </label>
            <label>Адрес электронной почты:
                <input type="email" ng-model="controller.user.email" disabled>
            </label>
            <br>

            <h3>Смена пароля:</h3>
            <label>Старый пароль:
                <input type="password">
            </label>
            <label>Новый пароль:
                <input type="password">
            </label>
            <label>Новый пароль ещё раз:
                <input type="password">
            </label>
            <br/>
            <button>Сменить пароль</button>
        </div>
    </div>
    <sfooter></sfooter>
</div>