<DIV id="content">
    <DIV id="breadcrumbs"><A href="index.html">Главная</A> :: Пользовательские требования</DIV>
    <H2>Пользовательские требования</H2>
    <DIV id="page">
        <DIV class="single-column">
            <TABLE>
                <TR>
                    <TH>Название</TH>
                    <TH>Категория</TH>
                </TR>
                <TR>
                    <TD colspan="2">Администратор</TD>
                </TR>
                <TR>
                    <TD>Просмотр категорий проектов</TD>
                    <TD>Управление проектами &gt; Управление категориями</TD>
                </TR>
                <TR>
                    <TD>Добавление новой категории проектов</TD>
                    <TD>Управление проектами &gt; Управление категориями</TD>
                </TR>
                <TR>
                    <TD>Удаление категории проектов</TD>
                    <TD>Управление проектами &gt; Управление категориями</TD>
                </TR>
                <TR>
                    <TD>Редактирование категории проектов</TD>
                    <TD>Управление проектами &gt; Управление категориями</TD>
                </TR>
                <TR>
                    <TD>Создание нового пустого проекта</TD>
                    <TD>Управление проектами</TD>
                </TR>
                <TR>
                    <TD>Просмотр списка всех проектов</TD>
                    <TD>Управление проектами</TD>
                </TR>
                <TR>
                    <TD>Переименование любого проекта</TD>
                    <TD>Управление проектами</TD>
                </TR>
                <TR>
                    <TD>Удаление пустого проекта</TD>
                    <TD>Управление проектами</TD>
                </TR>
                <TR>
                    <TD>Назначение менеджера (в том числе и нового) на проект</TD>
                    <TD>Управление проектами</TD>
                </TR>
                <TR>
                    <TD colspan="2">Авторизованный пользователь</TD>
                </TR>
                <TR>
                    <TD>Просмотр списка своих проектов</TD>
                    <TD>Управление проектами</TD>
                </TR>
                <TR>
                    <TD>Выбор одного из своих проектов</TD>
                    <TD>Управление проектами</TD>
                </TR>
                <TR>
                    <TD colspan="2">Менеджер</TD>
                </TR>
                <TR>
                    <TD>Просмотр списка команд в выбранном проекте</TD>
                    <TD>Управление работниками</TD>
                </TR>
                <TR>
                    <TD>Создание новой команды в выбранном проекте</TD>
                    <TD>Управление работниками</TD>
                </TR>
                <TR>
                    <TD>Назначение любому пользователю ролей и команд на выбранном проекте</TD>
                    <TD>Управление работниками</TD>
                </TR>
                <TR>
                    <TD>Просмотр списка ролей работников выбранного проекта</TD>
                    <TD>Управление работниками</TD>
                </TR>
                <TR>
                    <TD>Изменение работнику ролей и команд на выбранном проекте</TD>
                    <TD>Управление работниками</TD>
                </TR>
                <TR>
                    <TD>Отмена работнику ролей и команд в выбранном проекте</TD>
                    <TD>Управление работниками</TD>
                </TR>
            </TABLE>
        </DIV>
    </DIV>
    <DIV id="copyright">&copy; Лаборатория компьютерных технологий ВГУ имени П.&nbsp;М.&nbsp;Машерова</DIV>
</DIV>