<div ng-controller="EmployeesEditController as controller" id="content">
    <slinks></slinks>
    <div id="page">
        <div class="single-column">
            <div class="role-block">
                <label>Название команды:</label>
                <input ng-model="controller.team.name" style="max-width: 300px" type="text">
            </div>
            <div class="role-block">
                <label>Аналитик:</label>
                <select ng-model="controller.analyst"
                        ng-options="(user.firstName + ' ' + user.middleName + ' ' + user.lastName) for user in controller.analysts">
                </select>
            </div>
            <div class="role-block">
                <label>Старший разработчик:</label>
                <select ng-model="controller.leader"
                        ng-options="(user.firstName + ' ' + user.middleName + ' ' + user.lastName) for user in controller.leaders">
                </select>
            </div>
            <div class="role-block">
                <label>Разработчик:</label>
                <select ng-model="controller.programmer"
                        ng-options="(user.firstName + ' ' + user.middleName + ' ' + user.lastName) for user in controller.programmers">
                </select>
            </div>

            <button ng-click="controller.saveTeam()">{{controller.action}}</button>
            <button ng-if="!controller.teamCreation" ng-click="controller.deleteTeam()">Удалить</button>
        </div>
    </div>
    <sfooter></sfooter>
</div>