<div ng-controller="EmployeesEditController as controller" id="content">
    <slinks></slinks>
    <div id="page">
        <div class="single-column">
            <label> Название команды:
                <input ng-disabled="!controller.isEditMode" ng-model="controller.teamName" style="max-width: 300px" type="text">
            </label>
            <table class="team-table">
                <thead>
                <tr>
                    <th class="team-table-column">Роль</th>
                    <th class="team-table-column">Работник</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Аналитик</td>
                    <td class="team-table-td">
                        <select ng-disabled="!controller.isEditMode" ng-model="controller.analyst"
                                ng-options="(user.firstName + ' ' + user.middleName + ' ' + user.lastName) for user in controller.analysts">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Старший разработчик</td>
                    <td>
                        <select ng-disabled="!controller.isEditMode" ng-model="controller.leader"
                                ng-options="(user.firstName + ' ' + user.middleName + ' ' + user.lastName) for user in controller.leaders">
                        </select>
                    </td>
                </tr>
                <!-- TODO реализовать добавление нескольких разработчиков -->
                <tr>
                    <td>Разработчик</td>
                    <td>
                        <select ng-disabled="!controller.isEditMode" ng-model="controller.programmer"
                                ng-options="(user.firstName + ' ' + user.middleName + ' ' + user.lastName) for user in controller.programmers">
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
            <br/>
            <br/>
            <button ng-if="controller.isEditMode" ng-click="controller.saveTeam()">Сохранить</button>
        </div>
    </div>
    <sfooter></sfooter>
</div>