<div ng-controller="EmployeesController as controller" id="content">
    <slinks></slinks>
    <div id="page">
        <div class="main-column">
            <h3 >{{controller.users.length > 0 ?
                'Список работников команды:' :
                'У вас пока что даже команд нет :('}}</h3>
            <table ng-if="controller.users.length > 0" class="non-clickable">
                <thead align="left">
                <tr>
                    <th>Работник</th>
                    <th>Роль</th>
                </tr>
                </thead>
                <tbody ng-repeat="user in controller.users | orderBy: 'name'">
                <tr>
                    <td>{{user.firstName + ' ' + user.middleName}}</td>
                    <td>{{user.employee.role}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="side-column">
            <h3>Команды:</h3>
            <ul class="links-block">
                <li ng-repeat="team in controller.teams | orderBy: 'name'">
                    <a ng-click="controller.selectTeam(team.id)">{{team.name}}</a>
                </li>
            </ul>
            <br/>
            <div ng-if="controller.isEditMode">
                <h3>Действия:</h3>
                <br/>
                <a href="#employees/employees_edit">Добавить команду</a>
                <br/>
                <a ng-if="controller.teams.length > 0" href="#employees/employees_edit/{{controller.currentTeamId}}">Изменить команду</a>
            </div>
        </div>
    </div>
    <sfooter></sfooter>
</div>