<div ng-controller="controller" id="content">
    <div id="breadcrumbs"><a href="index.html">Главная</a> :: Проекты</div> <!--TODO обсудить, переделать-->
    <h2>Проекты</h2>
    <div id="page">

        <div class="main-column">
            <h3>Список проектов категории «категория 1»</h3>
            <div class="main-column-buttons">
                <form action="#projects/project_edit">
                    <button type="submit">Создать проект</button>
                </form>
                <form action="#projects/category_edit">
                    <button type="submit">Редактировать категорию</button>
                </form>
            </div>
            <table class="projects-table">
                <tr>
                    <th class="insignificant">№</th>
                    <th>Название</th>
                    <th>Менеджер</th>
                </tr>
                <tr ng-repeat="project in projects" ng-click="editProject($index)">
                    <td class="insignificant">{{$index + 1}}</td>
                    <td>{{project.name}}</td>
                    <td>{{project.manager.name}}</td>
                </tr>
                <tr ng-hide="projects.length || projects.isUndefined"> <!-- TODO check -->
                    <td class="insignificant"></td>
                    <td>No items found</td>
                    <td></td>
                </tr>
            </table>
        </div>

        <div class="side-column">
            <h3>Категории</h3>

            <div class="category-buttons">
                <form action="#projects/category_edit">
                    <button type="submit">Создать категорию</button>
                </form>
            </div>

            <ul>
                <li class="drop"><a href="project-list.html">категория 1</a>
                    <ul class="drop">
                        <li class="drop"><a href="project-list.html">подкатегория 1.1</a>
                            <ul class="drop">
                                <li class="drop"><a href="project-list.html">подподкатегория 1.1.1</a></li>
                                <li class="drop"><a href="project-list.html">подподкатегория 1.1.2</a></li>
                            </ul>
                        </li>
                        <li class="drop"><a href="project-list.html">подкатегория 1.2</a>
                            <ul class="drop">
                                <li class="drop"><a href="project-list.html">подподкатегория 1.2.1</a></li>
                                <li class="drop"><a href="project-list.html">подподкатегория 1.2.2</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="drop"><a href="project-list.html">категория 2</a>
                    <ul class="drop">
                        <li class="drop"><a href="project-list.html">подкатегория 2.1</a>
                            <ul class="drop">
                                <li class="drop"><a href="project-list.html">подподкатегория 2.1.1</a></li>
                                <li class="drop"><a href="project-list.html">подподкатегория 2.1.2</a></li>
                            </ul>
                        </li>
                        <li class="drop"><a href="project-list.html">подкатегория 2.2</a>
                            <ul class="drop">
                                <li class="drop"><a href="project-list.html">подподкатегория 2.2.1</a></li>
                                <li class="drop"><a href="project-list.html">подподкатегория 2.2.2</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer" ng-footer/>
</div>
