<DIV ng-controller="TasksController as tasksController" id="content">
    <slinks></slinks>
    <DIV id="page">
        <DIV class="main-column">
            <H3>Задачи:</H3>
            <TABLE>
                <TR>
                    <TH>Название</TH>
                    <TH>Описание</TH>
                    <TH>Требование</TH>
                    <TH>Срок</TH>
                </TR>
                <TR ng-click="tasksController.editTask($index)">
                    <TD>Задача 1</TD>
                    <TD>отсутствует</TD>
                    <TD>отсутствует</TD>
                    <TD>сегодня</TD>
                </TR>
                <TR>
                    <TD>Задача 1</TD>
                    <TD>отсутствует</TD>
                    <TD>отсутствует</TD>
                    <TD>сегодня</TD>
                </TR>
                <TR>
                    <TD>Задача 1</TD>
                    <TD>отсутствует</TD>
                    <TD>отсутствует</TD>
                    <TD>сегодня</TD>
                </TR>
                <TR>
                    <TD>Задача 1</TD>
                    <TD>отсутствует</TD>
                    <TD>отсутствует</TD>
                    <TD>сегодня</TD>
                </TR>
                <TR>
                    <TD>Задача 1</TD>
                    <TD>отсутствует</TD>
                    <TD>отсутствует</TD>
                    <TD>сегодня</TD>
                </TR>
                <TR>
                    <TD>Задача 1</TD>
                    <TD>отсутствует</TD>
                    <TD>отсутствует</TD>
                    <TD>сегодня</TD>
                </TR>
                <TR>
                    <TD>Задача 1</TD>
                    <TD>отсутствует</TD>
                    <TD>отсутствует</TD>
                    <TD>сегодня</TD>
                </TR>
            </TABLE>
        </DIV>
        <div class="side-column">
            <h3>Проекты:</h3>
            <UL>
                <LI><A>Проект 1</A></LI> <!-- TODO переход разным задачам по разным проектам -->
                <LI><A>Проект 2</A></LI>
                <LI><A>Проект 3</A></LI>
            </UL>
            <br/>
            <h3>Действия:</h3>
            <br/>
            <div class="main-column-buttons">

                    <BUTTON ng-click="tasksController.editTask($index)">Создать задачу</BUTTON>

            </div>
        </div>
    </DIV>
    <sfooter></sfooter>
</DIV>