<DIV ng-controller="TasksController as controller" id="content">
    <slinks></slinks>

    <DIV id="page">
        <DIV class="main-column">
            <H3>Задачи:</H3>
            <table>
                <thead>
                    <tr>
                        <th>Название</th>
                        <TH>Описание</TH>
                        <TH>Требование</TH>
                        <TH>Срок</TH>
                    </tr>
                </thead>
                <tbody ng-repeat="task in controller.tasksForProject">
                    <tr ng-click="controller.editTask(task.id)">
                        <td>{{task.name}}</td>
                        <td>{{task.description}}</td>
                        <td>none</td>
                        <td>today</td>
                    </tr>
                </tbody>
            </table>
        </DIV>
        <div class="side-column">
            <h3>Проекты:</h3>
            <UL class="projects-block">
                <li ng-repeat="project in controller.projects">
                    <a ng-click="controller.updateTasks(project.id)">{{project.name}}</a>
                </li>
            </UL>
            <br/>
            <h3>Действия:</h3>
            <br/>
            <div class="main-column-buttons">
                <a href="#tasks/tasks_edit/">Создать задачу</a>
            </div>
        </div>
    </DIV>
    <sfooter></sfooter>
</DIV>